# API Configuration
API_KEY=sk-proj-xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
API_BASE=https://api.openai.com/v1

# Model Configuration  #gpt-5.2 gpt-4
MODEL_NAME=gpt-5.2
EMBEDDING_MODEL=text-embedding-3-small
EMBEDDING_DIMENSIONS=2560
MODEL_PROVIDER=OpenAI

# Optional: LLM Parameters
LLM_TEMPERATURE=0.7
LLM_SEED=42
LLM_SSL_VERIFY=false
