OBS_ACCESS_KEY_ID=
OBS_SECRET_ACCESS_KEY=
OBS_SERVER="https://obs.ap-southeast-1.myhuaweicloud.com"
OBS_REGION="ap-southeast-1"
EMBEDDING_API_BASE=
EMBEDDING_API_KEY=
EMBEDDING_MODEL=
MILVUS_URI=
MILVUS_DB_NAME=
